.nara-slider{
    position: relative;
}
.nara-slider img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;

}
 .nara-slider img.active{
    opacity: 1;
    
}
.nara-slider img:(.active){
    opacity: 0;
}
